* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: normal;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Gilroy;
  color: #1f1f1f;
}

.wrapper {
  background: url("../../img/bg.png") no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1404px;
  margin: 0 auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .header-logo .header-logo__text {
  font-weight: 500;
  font-size: 24px;
  color: #1f1f1f;
  margin-left: 24px;
}

.header-container .header-logo .header-logo__img {
  width: 60px;
  height: 60px;
}

.header-container .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .navbar-list .navbar-link {
  font-weight: 500;
  font-size: 18px;
  color: #1F1F1F;
  margin-left: 70px;
  text-transform: lowercase;
}

.header-container .navbar-list a:focus {
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 4px 17px;
  background: #8AD2F5;
  border-radius: 10px;
}

.header-container .navbar-list a:hover {
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  color: #a1a1a1;
}

.header-container .header-button {
  padding: 13px 47px;
  font-weight: 500;
  font-size: 20px;
  color: #1f1f1f;
  border: 2px solid #8AD2F5;
  border-radius: 16px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header-container .header-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: #8ad2f5;
  background: -webkit-gradient(linear, left bottom, left top, from(#8ad2f5), to(#23a2df));
  background: linear-gradient(0deg, #8ad2f5 0%, #23a2df 100%);
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header-container .header-button:hover {
  border: 2px solid #5fa9ce;
  color: #fff;
  background: rgba(255, 255, 255, 0);
}

.header-container .header-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.bg_blue {
  background: #8AD2F5;
  border-radius: 30px;
  padding: 0px 4px;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-container .hero-img {
  width: 630px;
  height: 516px;
}

.hero-container .hero-content {
  margin-top: 146px;
  width: 824px;
}

.hero-container .hero-content .hero-title {
  font-weight: 600;
  font-size: 62px;
  line-height: 110%;
}

.hero-container .hero-content .hero-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.hero-container .hero-content .hero-cards .hero-card__text__one {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  height: 69px;
  padding: 30px 25px;
}

.hero-container .hero-content .hero-cards .hero-card__text__two {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  padding: 30px 20px;
}

.hero-container .hero-content .hero-cards .hero-card__one {
  width: 385px;
  height: 137px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-backdrop-filter: blur(46px);
          backdrop-filter: blur(46px);
  border-radius: 20px;
}

.hero-container .hero-content .hero-cards .hero-card__two {
  margin-left: 30px;
  width: 297px;
  height: 137px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-backdrop-filter: blur(46px);
          backdrop-filter: blur(46px);
  border-radius: 20px;
}

.hero-container .hero-content .hero-buttons {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-container .hero-content .hero-buttons .hero-button__one {
  padding: 18px 36px;
  background: #8AD2F5;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hero-container .hero-content .hero-buttons .hero-button__one:hover {
  border: 2px solid #8AD2F5;
  background: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero-container .hero-content .hero-buttons .hero-button__two {
  margin-left: 30px;
  padding: 18px 36px;
  border: 2px solid #8AD2F5;
  background: transparent;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hero-container .hero-content .hero-buttons .hero-button__two:hover {
  background: #8AD2F5;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.query-wrapper {
  width: 1048px;
  height: 294px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
  margin: auto;
  margin-top: 150px;
}

.query-wrapper .query-title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  margin-top: 40px;
}

.query-wrapper .query-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-top: 24px;
  margin-left: 60px;
}

.query-wrapper .query-form input {
  background: #F4F4F4;
  border-radius: 20px;
}

.query-wrapper .query-form .query-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.query-wrapper .query-form .query-contact-info input {
  padding: 18px 200px 18px 30px;
}

.query-wrapper .query-form .query-contact-info .contact-info__contact {
  margin-bottom: 20px;
}

.query-wrapper .query-form .query-task {
  margin-left: 30px;
  padding: 16px 250px 98px 30px;
}

.query-wrapper .query-form .telegram-link {
  margin-left: 30px;
  width: 60px;
  height: 137px;
  background: #8AD2F5;
  border-radius: 20px;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.query-wrapper .query-form .telegram-link .img-telegram {
  padding: 53px 14px;
}

.query-wrapper .query-form .telegram-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.issues-container {
  max-width: 1224px;
  margin: 0 auto;
  margin-top: 200px;
}

.issues-container .issues-title {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  width: 760px;
  margin: auto;
}

.issues-container .issues-block {
  width: 1224px;
  height: 554px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  background: -moz-radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  backdrop-filter: blur(26px);
  -webkit-backdrop-filter: blur(26px);
  -moz-backdrop-filter: blur(26px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 130px;
  margin-top: 80px;
  position: relative;
}

.issues-container .issues-block .issues-text {
  width: 434px;
}

.issues-container .issues-block .issues-text .issues-text__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
}

.issues-container .issues-block .issues-text .issues-text__subtitle {
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: rgba(31, 31, 31, 0.8);
}

.issues-container .issues-block .issues-block__img {
  width: 632px;
  height: 354px;
}

.issues-container .issues-decor {
  position: absolute;
  z-index: -5;
  width: 446px;
  height: 402px;
}

.issues-container .decor_one {
  left: 100px;
  top: 1750px;
}

.issues-container .decor_two {
  right: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 1450px;
}

.about-cards_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-container {
  margin-top: 200px;
}

.about-container .about-title {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
}

.about-container .block_wrapper {
  margin-top: 159px;
  width: 448px;
  height: 310px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  border-radius: 20px;
  position: relative;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.about-container .block_wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-container .about-decor {
  position: absolute;
  font-weight: 700;
  font-size: 144px;
  color: #8AAEF5;
  z-index: -2;
}

.about-container .about-decor_one {
  left: 235px;
  top: 2410px;
}

.about-container .about-decor_two {
  top: 2410px;
  left: 720px;
}

.about-container .about-decor_three {
  top: 2410px;
  left: 1190px;
}

.about-container .about-decor_four {
  top: 2825px;
  left: 345px;
}

.about-container .about-decor_five {
  top: 2825px;
  left: 1070px;
}

.about-container .about-block__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 32px;
}

.about-container .about-block__subtitle {
  margin-left: 40px;
  width: 368px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: rgba(31, 31, 31, 0.8);
}

.about-container .about-cards__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-container .about-cards__second .block_wrapper_second {
  margin-top: 110px;
  width: 687px;
  height: 284px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  border-radius: 20px;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.about-container .about-cards__second .block_wrapper_second:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-container .about-cards__second .second-block__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 32px;
}

.about-container .about-cards__second .second-block__subtitle {
  margin-left: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: rgba(31, 31, 31, 0.8);
}

.possiblies-container {
  padding-top: 260px;
  max-width: 1224px;
  margin: 0 auto;
}

.possiblies-container .possiblies-title {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  text-align: center;
  width: 630px;
  margin: auto;
}

.possiblies-container .possible-cards {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.possiblies-container .possible-cards .possiblies-decor {
  position: absolute;
  z-index: -2;
  width: 446px;
  height: 402px;
}

.possiblies-container .possible-cards .possiblies-decor_one {
  top: 100px;
  left: -100px;
}

.possiblies-container .possible-cards .possiblies-decor_two {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -80px;
  bottom: 80px;
}

.possiblies-container .possible-cards .possible-card {
  width: 388px;
  height: 419px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.possiblies-container .possible-cards .possible-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.possiblies-container .possible-cards .possible-card .possible-card__img {
  width: 146px;
  height: 146px;
}

.possiblies-container .possible-cards .possible-card .possible-card__content {
  text-align: center;
}

.possiblies-container .possible-cards .possible-card .possible-card__title {
  font-weight: 500;
  font-size: 30px;
  color: #1F1F1F;
}

.possiblies-container .possible-cards .possible-card .possible-card__subtitle {
  margin: 0px 31px;
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: rgba(31, 31, 31, 0.8);
}

.suggestions-container {
  max-width: 1224px;
  margin: 0 auto;
  margin-top: 200px;
}

.suggestions-container .suggestions-title {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  width: 760px;
  margin: auto;
}

.suggestions-container .suggestions-block {
  width: 1224px;
  height: 486px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  background: -moz-radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  backdrop-filter: blur(26px);
  -webkit-backdrop-filter: blur(26px);
  -moz-backdrop-filter: blur(26px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 130px;
  margin-top: 80px;
  position: relative;
}

.suggestions-container .suggestions-block .suggestions-text {
  width: 635px;
}

.suggestions-container .suggestions-block .suggestions-text .suggestions-text__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
}

.suggestions-container .suggestions-block .suggestions-text .suggestions-text__subtitle {
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: rgba(31, 31, 31, 0.8);
}

.suggestions-container .suggestions-block .suggestions-block__img {
  width: 450px;
}

.suggestions-container .suggestions-decor {
  position: absolute;
  width: 446px;
  height: 402px;
  z-index: -50;
}

.suggestions-container .suggestions_decor_one {
  top: 5050px;
  left: 60px;
}

.suggestions-container .suggestions_decor_two {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 4820px;
  right: 100px;
}

.projects-container {
  padding-top: 200px;
}

.projects-container .projects-title {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  margin-bottom: 75px;
}

.projects-container .project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projects-container .project-cards .project-card__template__first {
  height: 288px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 758px;
          flex: 1 1 758px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(46px);
          backdrop-filter: blur(46px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 40px;
  position: relative;
}

.projects-container .project-cards .project-card__template__first .first-img {
  width: 168px;
  height: 168px;
}

.projects-container .project-cards .project-card__template__first .first-content {
  margin-left: 40px;
}

.projects-container .project-cards .project-card__template__first .first-content .first-title {
  font-weight: 500;
  font-size: 36px;
}

.projects-container .project-cards .project-card__template__first .first-content .first-task {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 20px;
  color: rgba(31, 31, 31, 0.8);
}

.projects-container .project-cards .project-card__template__first .first-content .first-solution {
  font-size: 20px;
  color: rgba(31, 31, 31, 0.8);
}

.projects-container .project-cards .project-card__template__first .project-arrow {
  position: absolute;
  bottom: 60px;
  right: 40px;
}

.projects-container .project-cards .project-card__template_second {
  height: 288px;
  background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(138, 174, 245, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(46px);
          backdrop-filter: blur(46px);
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 616px;
          flex: 1 1 616px;
  position: relative;
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-container .project-cards .project-card__template_second .first-img {
  width: 168px;
  height: 168px;
}

.projects-container .project-cards .project-card__template_second .first-content {
  margin-left: 40px;
}

.projects-container .project-cards .project-card__template_second .first-content .first-title {
  font-weight: 500;
  font-size: 36px;
}

.projects-container .project-cards .project-card__template_second .first-content .first-task {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 20px;
  color: rgba(31, 31, 31, 0.8);
}

.projects-container .project-cards .project-card__template_second .first-content .first-solution {
  font-size: 20px;
  color: rgba(31, 31, 31, 0.8);
}

.projects-container .project-cards .project-card__template_second .project-arrow {
  position: absolute;
  bottom: 60px;
  right: 40px;
}

.arrow-container {
  padding-top: 60px;
}

.arrow-container .main-bottom__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow-container .main-bottom__arrow img {
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.arrow-container .main-bottom__arrow img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 42px;
  border-top: 2px solid rgba(138, 174, 245, 0.3);
  height: 330px;
}

.footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-content .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .footer-content .footer-logo .footer-logo__text {
  margin-left: 24px;
  font-weight: 500;
  font-size: 24px;
}

.footer-container .footer-content .footer-bottom p {
  font-size: 16px;
  color: rgba(31, 31, 31, 0.6);
  margin-bottom: 12px;
}

.footer-container .footer-right {
  width: 604px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .footer-right .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-right .footer-info h4 {
  width: 167px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.footer-container .footer-right .footer-info p {
  width: 250px;
  font-size: 18px;
  color: rgba(31, 31, 31, 0.6);
}

.footer-container .footer-right .footer-common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-right .footer-common a {
  padding: 13px 47px;
  border: 2px solid #8AD2F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  color: #000;
  -webkit-transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.footer-container .footer-right .footer-common a:hover {
  border: 2px solid black;
  background: #8AD2F5;
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-container .footer-right .footer-common p {
  width: 250px;
  font-size: 13px;
  color: rgba(31, 31, 31, 0.6);
  margin-bottom: 5px;
}
